In [1]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline

# we will limit the number of decimal places we display
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
datafile_name= "C:/Users/lenovo/Downloads/Product demand project (6)/Product demand project/Data/Data/Customer_Details.xlsx"
abt_customer = pd.read_excel(datafile_name, index_col=0)

abt_customer.head(3)

,Country,City,Customer Name,Order ID,Postal Code,Region,Row ID,State,Top N Customer Label,Total Number of Customer,Order ID.1
Customer ID,,,,,,,,,,,
DP-13000,United States,Houston,Darren Powers,CA-2011-103800,"77,095.00",Central,7981,Texas,Other,1.00,CA-2011-103800
PO-19195,United States,Naperville,Phillina Ober,CA-2011-112326,"60,540.00",Central,740,Illinois,Other,1.00,CA-2011-112326
PO-19195,United States,Naperville,Phillina Ober,CA-2011-112326,"60,540.00",Central,741,Illinois,Other,1.00,CA-2011-112326

In [3]:
datafile_name= "C:/Users/lenovo/Downloads/Product demand project (6)/Product demand project/Data/Data/Order_Details.xlsx"

abt_order = pd.read_excel(datafile_name, index_col=0)

abt_order.head(10)

,Order Date,Product ID,Ship Date,Ship Mode,Discount,Profit,Profit Ratio,Quantity,Sales,Sales Per Customer,Total Number of Customer,Row ID
Order ID,,,,,,,,,,,,
CA-2011-103800,2013-03-01 00:00:00,OFF-PA-10000174,2013-07-01 00:00:00,Standard Class,0.20,5.55,0.34,2.00,16.45,16.45,1,7981
CA-2011-112326,2013-04-01 00:00:00,OFF-LA-10003223,2013-08-01 00:00:00,Standard Class,0.20,4.27,0.36,3.00,11.78,11.78,1,740
CA-2011-112326,2013-04-01 00:00:00,OFF-ST-10002743,2013-08-01 00:00:00,Standard Class,0.20,-64.77,-0.24,3.00,272.74,272.74,1,741
CA-2011-112326,2013-04-01 00:00:00,OFF-BI-10004094,2013-08-01 00:00:00,Standard Class,0.80,-5.49,-1.55,2.00,3.54,3.54,1,742
CA-2011-141817,2013-05-01 00:00:00,OFF-AR-10003478,2013-12-01 00:00:00,Standard Class,0.20,4.88,0.25,3.00,19.54,19.54,1,1760
CA-2011-130813,2013-06-01 00:00:00,OFF-PA-10002005,2013-08-01 00:00:00,Second Class,0.00,9.33,0.48,3.00,19.44,19.44,1,5328
CA-2011-106054,2013-06-01 00:00:00,OFF-AR-10002399,2013-07-01 00:00:00,First Class,0.00,5.24,0.41,3.00,12.78,12.78,1,7181
CA-2011-167199,2013-06-01 00:00:00,FUR-CH-10004063,2013-10-01 00:00:00,Standard Class,0.00,746.41,0.29,9.00,"2,573.82","2,573.82",1,7475
CA-2011-167199,2013-06-01 00:00:00,OFF-BI-10004632,2013-10-01 00:00:00,Standard Class,NaN,274.49,0.45,2.00,609.98,609.98,1,7476
CA-2011-167199,2013-06-01 00:00:00,OFF-AR-10001662,2013-10-01 00:00:00,Standard Class,0.00,1.48,0.27,2.00,5.48,5.48,1,7477

In [4]:
datafile_name= "C:/Users/lenovo/Downloads/Product demand project (6)/Product demand project/Data/Data/Product_Details.xlsx"
abt_product = pd.read_excel(datafile_name, index_col=0)

abt_product.head(10)

,Product ID,Product Name,Segment,Sub-Category,Number of Records,Row ID
Category,,,,,,
Office Supplies,OFF-PA-10000174,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Consumer,Paper,1.00,7981
Office Supplies,OFF-LA-10003223,Avery 508,Home Office,Labels,1.00,740
Office Supplies,OFF-ST-10002743,SAFCO Boltless Steel Shelving,Home Office,Storage,1.00,741
Office Supplies,OFF-BI-10004094,GBC Standard Plastic Binding Systems Combs,Home Office,Binders,1.00,742
Office Supplies,OFF-AR-10003478,Avery Hi-Liter EverBold Pen Style Fluorescent ...,Consumer,Art,1.00,1760
Office Supplies,OFF-PA-10002005,Xerox 225,Consumer,Paper,1.00,5328
Office Supplies,OFF-AR-10002399,"Dixon Prang Watercolor Pencils, 10-Color Set w...",Corporate,Art,NaN,7181
Furniture,FUR-CH-10004063,Global Deluxe High-Back Manager's Chair,Home Office,Chairs,1.00,7475
Office Supplies,OFF-BI-10004632,Ibico Hi-Tech Manual Binding System,Home Office,Binders,1.00,7476
Office Supplies,OFF-AR-10001662,Rogers Handheld Barrel Pencil Sharpener,Home Office,Art,1.00,7477

In [5]:
print(abt_customer.columns)
print("\n Dataset has %d rows and %d columns" % abt_customer.shape)

Index(['Country', 'City', 'Customer Name', 'Order ID', 'Postal Code', 'Region',
       'Row ID', 'State', 'Top N Customer Label', 'Total Number of Customer',
       'Order ID.1'],
      dtype='object')

 Dataset has 9994 rows and 11 columns

In [6]:
print(abt_order.columns)
print("\n Dataset has %d rows and %d columns" % abt_order.shape)

Index(['Order Date', 'Product ID', 'Ship Date', 'Ship Mode', 'Discount',
       'Profit', 'Profit Ratio', 'Quantity', 'Sales', 'Sales Per Customer',
       'Total Number of Customer', 'Row ID'],
      dtype='object')

 Dataset has 9994 rows and 12 columns

In [7]:
print(abt_product.columns)
print("\n Dataset has %d rows and %d columns" % abt_product.shape)

Index(['Product ID', 'Product Name', 'Segment', 'Sub-Category',
       'Number of Records', 'Row ID'],
      dtype='object')

 Dataset has 9994 rows and 6 columns

In [8]:
abt_customer_order = pd.merge(abt_customer, abt_order, on="Row ID", how="outer")

# examine the combined ABT
display(abt_customer_order)
print(abt_customer.shape)
print(abt_order.shape)
print(abt_customer_order.shape)

print("\n Dataset has %d rows and %d columns" % abt_customer_order.shape)

,Country,City,Customer Name,Order ID,Postal Code,Region,Row ID,State,Top N Customer Label,Total Number of Customer_x,...,Product ID,Ship Date,Ship Mode,Discount,Profit,Profit Ratio,Quantity,Sales,Sales Per Customer,Total Number of Customer_y
0,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,1,Kentucky,Other,1.00,...,FUR-BO-10001798,2015-12-11 00:00:00,Second Class,0.00,41.91,0.16,2.00,261.96,261.96,1
1,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,2,Kentucky,Other,1.00,...,FUR-CH-10000454,2015-12-11 00:00:00,Second Class,0.00,219.58,0.30,3.00,731.94,731.94,1
2,United States,Los Angeles,Darrin Van Huff,CA-2013-138688,"90,036.00",West,3,California,Other,1.00,...,OFF-LA-10000240,6/17/2015,Second Class,0.00,6.87,0.47,2.00,14.62,14.62,1
3,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,4,Florida,Other,1.00,...,FUR-TA-10000577,10/18/2014,Standard Class,0.45,-383.03,-0.40,5.00,957.58,957.58,1
4,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,5,Florida,Other,1.00,...,OFF-ST-10000760,10/18/2014,Standard Class,0.20,2.52,0.11,2.00,22.37,22.37,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,United States,Miami,Tom Boeckenhauer,CA-2011-110422,"33,180.00",South,9990,Florida,Other,1.00,...,FUR-FU-10001889,1/23/2013,Second Class,0.20,4.10,0.16,3.00,25.25,25.25,1
9990,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9991,California,Other,1.00,...,FUR-FU-10000747,2016-03-03 00:00:00,Standard Class,0.00,15.63,0.17,2.00,91.96,91.96,1
9991,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9992,California,Other,1.00,...,TEC-PH-10003645,2016-03-03 00:00:00,Standard Class,0.20,19.39,0.07,2.00,258.58,258.58,1
9992,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9993,California,Other,1.00,...,OFF-PA-10004041,2016-03-03 00:00:00,Standard Class,0.00,13.32,0.45,4.00,29.60,29.60,1
9993,United States,Westminster,Chris Cortes,CA-2014-119914,"92,683.00",West,9994,California,Other,1.00,...,OFF-AP-10002684,2016-09-05 00:00:00,Second Class,0.00,72.95,0.30,2.00,243.16,243.16,1

(9994, 11)
(9994, 12)
(9994, 22)

 Dataset has 9994 rows and 22 columns

In [9]:
abt_final = pd.merge(abt_customer_order, abt_product, on="Row ID", how="outer")

# examine the combined ABT
display(abt_final)
print(abt_customer_order.shape)
print(abt_product.shape)
print(abt_final.shape)

print("\n Dataset has %d rows and %d columns" % abt_final.shape)

,Country,City,Customer Name,Order ID,Postal Code,Region,Row ID,State,Top N Customer Label,Total Number of Customer_x,...,Profit Ratio,Quantity,Sales,Sales Per Customer,Total Number of Customer_y,Product ID_y,Product Name,Segment,Sub-Category,Number of Records
0,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,1,Kentucky,Other,1.00,...,0.16,2.00,261.96,261.96,1,FUR-BO-10001798,Bush Somerset Collection Bookcase,Consumer,Bookcases,1.00
1,United States,Henderson,Claire Gute,CA-2013-152156,"42,420.00",South,2,Kentucky,Other,1.00,...,0.30,3.00,731.94,731.94,1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Consumer,Chairs,1.00
2,United States,Los Angeles,Darrin Van Huff,CA-2013-138688,"90,036.00",West,3,California,Other,1.00,...,0.47,2.00,14.62,14.62,1,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Corporate,Labels,1.00
3,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,4,Florida,Other,1.00,...,-0.40,5.00,957.58,957.58,1,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Consumer,Tables,1.00
4,United States,Fort Lauderdale,Sean O'Donnell,US-2012-108966,"33,311.00",South,5,Florida,Other,1.00,...,0.11,2.00,22.37,22.37,1,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Consumer,Storage,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,United States,Miami,Tom Boeckenhauer,CA-2011-110422,"33,180.00",South,9990,Florida,Other,1.00,...,0.16,3.00,25.25,25.25,1,FUR-FU-10001889,Ultra Door Pull Handle,Consumer,Furnishings,1.00
9990,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9991,California,Other,1.00,...,0.17,2.00,91.96,91.96,1,FUR-FU-10000747,Tenex B1-RE Series Chair Mats for Low Pile Car...,Consumer,Furnishings,1.00
9991,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9992,California,Other,1.00,...,0.07,2.00,258.58,258.58,1,TEC-PH-10003645,Aastra 57i VoIP phone,Consumer,Phones,1.00
9992,United States,Costa Mesa,Dave Brooks,CA-2014-121258,"92,627.00",West,9993,California,Other,1.00,...,0.45,4.00,29.60,29.60,1,OFF-PA-10004041,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Consumer,Paper,1.00
9993,United States,Westminster,Chris Cortes,CA-2014-119914,"92,683.00",West,9994,California,Other,1.00,...,0.30,2.00,243.16,243.16,1,OFF-AP-10002684,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Consumer,Appliances,1.00

(9994, 22)
(9994, 6)
(9994, 27)

 Dataset has 9994 rows and 27 columns

In [10]:
outfile_name = "C:/Users/lenovo/Downloads/Product demand project (6)/Product demand project/Data/Data/uncleaned_data_csv.csv"
abt_final.to_csv(outfile_name)